.DS_Store
debughl/
*.pdb
ice.dll
ice.dylib
ice.so
client.dll
client.dylib
client.so
grave_bot.dll
gravebot.so
Thumbs.db*
*.zip
*.7z
*.max
*.err
*.log
*.p0
*.p1
*.p2
*.p3
*.wic
*.bsp
*.lin
*.prt
*.pts

*/redist/halflife.wad
*/redist/decals.wad
*/wads/decals.wad
*/redist/fonts.wad
*/redist/coldice.wad
*/wads/coldice.wad
*/redist/spacepirate.wad
*/wads/spacepirate.wad
*/redist/pak0.pak
*/redist/maps/
*/redist/models/
*/redist/sprites/
*/redist/sound/
*/redist/media/
*/redist/player/
htmlcache
debug.log
steam_appid.txt
qconsole.log

*/redist_hd/models/

.vscode/
*/redist_hd/

*.swp

wads.cfg

makels.exe
qlumpy.exe
sprgen.exe
makefont.exe
qpakman.exe
hlcsg.exe
hlbsp.exe
hlrad.exe
hlvis.exe
studiomdl.exe
BSP_tool.exe
BSP_tool.cfg

*/Config.ps1
