.DS_Store
debughl/
*.pdb
hl.dll
hl.dylib
hl.so
client.dll
client.dylib
client.so
grave_bot.dll
Thumbs.db*
last-build.zip

workspace/redist/fonts.wad
workspace/redist/coldice.wad
workspace/redist/maps/
workspace/redist/models/
workspace/redist/sprites/
workspace/redist/sound/
workspace/redist/media/gamestartup.mp3

workspace/redist_hd/models/

.vscode/
workspace/redist_hd/
