.DS_Store
debughl/
*.pdb
ice.dll
ice.dylib
ice.so
client.dll
client.dylib
client.so
grave_bot.dll
gravebot.so
Thumbs.db*
last-build.zip

workspace/redist/fonts.wad
workspace/redist/coldice.wad
workspace/redist/pak0.pak
workspace/redist/maps/
workspace/redist/models/
workspace/redist/sprites/
workspace/redist/sound/
workspace/redist/media/gamestartup.mp3
htmlcache
debug.log
steam_appid.txt
qconsole.log

workspace/redist_hd/models/

.vscode/
workspace/redist_hd/

*.swp

wads.cfg
