[submodule "workspace/src"]
	path = workspace/src
	url = https://github.com/solidi/coldice.git
[submodule "workspace/grave-bot-src"]
	path = workspace/grave-bot-src
	url = https://github.com/solidi/grave_bot.git
[submodule "workspace/qpakman"]
	path = workspace/qpakman
	url = https://github.com/solidi/qpakman.git
[submodule "workspace/zhlt"]
	path = workspace/zhlt
	url = https://github.com/solidi/zhlt.git
