name: Individual Maps Release

on: [push]

env:
  # Configuration type to build.
  # You can convert this to a build matrix if you need coverage of multiple configuration types.
  # https://docs.github.com/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
  BUILD_CONFIGURATION: Release
  FOLDER_NAME: workspace
  GAME_TITLE: Cold Ice Remastered
  GAME_FOLDER: ice_v1

jobs:
  compile_tools:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
      with:
        token: ${{ secrets.COLDICE_ADD_ONS_PAT }}
        submodules: recursive

    - name: Add MSBuild to PATH
      uses: microsoft/setup-msbuild@v2

    - name: Write Config File
      working-directory: ${{env.GITHUB_WORKSPACE}}
      run: |
        "`$Config = @{ 'projectName' = '${{env.GAME_TITLE}}' }" | Add-Content .\${{env.FOLDER_NAME}}\Config.ps1

    - name: Compile tools
      working-directory: ${{env.GITHUB_WORKSPACE}}
      run: |
        .\${{env.FOLDER_NAME}}\Build-Tools.ps1 -ConfigFile Config -MapsOnly
        [void](New-Item -Force -ItemType Directory $env:TEMP\bin)
        Copy-Item -Recurse -Force .\bin $env:TEMP
        Compress-Archive -LiteralPath $env:TEMP\bin -DestinationPath .\tools.zip -Force

    - name: Upload tools
      uses: actions/upload-artifact@v4
      with:
        name: compiled_tools
        path: ./${{env.FOLDER_NAME}}/tools.zip

  compile_wads:
    runs-on: windows-latest
    needs: [compile_tools]

    steps:

    - uses: actions/checkout@v4
      with:
        token: ${{ secrets.COLDICE_ADD_ONS_PAT }}
        submodules: recursive

    - name: Download tools
      uses: actions/download-artifact@v4
      with:
        name: compiled_tools
        path: ./${{env.FOLDER_NAME}}

    - name: Unpack tools
      working-directory: ${{env.GITHUB_WORKSPACE}}
      run: |
        Expand-Archive -Path .\${{env.FOLDER_NAME}}\tools.zip -DestinationPath $env:TEMP
        Remove-Item .\${{env.FOLDER_NAME}}\bin\\* -Recurse -Force -ErrorAction Ignore
        Remove-Item .\${{env.FOLDER_NAME}}\bin -Force -ErrorAction Ignore
        Move-Item $env:TEMP\bin .\${{env.FOLDER_NAME}}
        Remove-Item .\${{env.FOLDER_NAME}}\tools.zip -Recurse -Force -ErrorAction Ignore

    - name: Write Config File
      working-directory: ${{env.GITHUB_WORKSPACE}}
      run: |
        "`$Config = @{ 'projectName' = '${{env.GAME_TITLE}}'`r`n'mapsOnly' = $true }" | Add-Content .\${{env.FOLDER_NAME}}\Config.ps1
        "`$Config = @{ 'projectName' = '${{env.GAME_TITLE}}'`r`n'addons' = @('quadfrost','defroster') }" | Add-Content .\${{env.FOLDER_NAME}}\add-ons\Config.ps1

    - name: Unpack Add-ons
      working-directory: ${{env.GITHUB_WORKSPACE}}
      run: .\${{env.FOLDER_NAME}}\add-ons\Copy-Addons.ps1 -ConfigFile Config

    - name: Compile Wads
      working-directory: ${{env.GITHUB_WORKSPACE}}
      run: |
        .\${{env.FOLDER_NAME}}\Build-Wads.ps1 -Clean -ConfigFile Config
        Get-ChildItem -Path .\redist\ -Filter *.wad | Copy-Item -Destination $env:TEMP -Force -PassThru
        Get-ChildItem -Path $env:TEMP -Filter *.wad | Compress-Archive -DestinationPath .\wads.zip -Force

    - name: Upload Wads
      uses: actions/upload-artifact@v4
      with:
        name: compiled_wads
        path: ./${{env.FOLDER_NAME}}/wads.zip

  compile_maps:
    runs-on: windows-latest
    needs: [compile_tools, compile_wads]
    strategy:
      matrix:
        map: [snowyard,latenightxmas]

    steps:
    - uses: actions/checkout@v4
      with:
        token: ${{ secrets.COLDICE_ADD_ONS_PAT }}
        submodules: false

    - name: Checkout detailed-textures submodule
      working-directory: ${{env.GITHUB_WORKSPACE}}
      run: |
        git submodule update --init workspace/detailed-textures

    - name: Download tools
      uses: actions/download-artifact@v4
      with:
        name: compiled_tools
        path: ./${{env.FOLDER_NAME}}

    - name: Unpack tools
      working-directory: ${{env.GITHUB_WORKSPACE}}
      run: |
        Expand-Archive -Path .\${{env.FOLDER_NAME}}\tools.zip -DestinationPath $env:TEMP
        Remove-Item .\${{env.FOLDER_NAME}}\bin\\* -Recurse -Force -ErrorAction Ignore
        Remove-Item .\${{env.FOLDER_NAME}}\bin -Force -ErrorAction Ignore
        Move-Item $env:TEMP\bin .\${{env.FOLDER_NAME}}
        Remove-Item .\${{env.FOLDER_NAME}}\tools.zip -Recurse -Force -ErrorAction Ignore

    - name: Download wads
      uses: actions/download-artifact@v4
      with:
        name: compiled_wads
        path: ./${{env.FOLDER_NAME}}

    - name: Unpack wads
      working-directory: ${{env.GITHUB_WORKSPACE}}
      run: |
        Expand-Archive -Path .\${{env.FOLDER_NAME}}\wads.zip -DestinationPath $env:TEMP
        Get-ChildItem -Path $env:TEMP -Filter *.wad | Move-Item -Destination .\${{env.FOLDER_NAME}}\wads -Force -PassThru
        Get-ChildItem -Path $env:TEMP -Filter *.wad | Move-Item -Destination .\${{env.FOLDER_NAME}}\redist -Force -PassThru
        Remove-Item .\${{env.FOLDER_NAME}}\wads.zip -Recurse -Force -ErrorAction Ignore

    - name: Write Config File
      working-directory: ${{env.GITHUB_WORKSPACE}}
      run: |
        "`$Config = @{ 'projectName' = '${{env.GAME_TITLE}}'`r`n'mapsOnly' = $true }" | Add-Content .\${{env.FOLDER_NAME}}\Config.ps1

    - name: Compile ${{matrix.map}}
      working-directory: ${{env.GITHUB_WORKSPACE}}
      run: |
        .\${{env.FOLDER_NAME}}\Build-Maps.ps1 -Clean -ConfigFile Config -NoWad -Map ${{matrix.map}}

    - name: Package ${{matrix.map}}
      working-directory: ${{env.GITHUB_WORKSPACE}}
      run: |
        # Sprites and sounds are needed for packaging
        .\${{env.FOLDER_NAME}}\Build-Sound.ps1 -ConfigFile Config -Clean
        .\${{env.FOLDER_NAME}}\Build-Sprites.ps1 -ConfigFile Config -Clean
        .\${{env.FOLDER_NAME}}\Package-Map.ps1 -ConfigFile Config -Map ${{matrix.map}}

    - name: Upload ${{matrix.map}}
      uses: actions/upload-artifact@v4
      with:
        name: ${{matrix.map}}
        path: .\${{env.FOLDER_NAME}}\${{matrix.map}}-*.7z
